body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #2C2C2C;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-top: 64px;
    margin-bottom: 48px;
}

.logo-title {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 40px;
    color: #000000;
}

.logo-color {
    color: #4BCAFF;
}

.header-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 69px;
    justify-content: center;
    background-color: #35444F;
}

.header-menu-itm {
    border-left: #FFFFFF solid 1px;
}

.header-menu-itm:last-child {
    border-right: #FFFFFF solid 1px;
}

.header-menu-itm:hover {
    background-color: #222F3A;
}

.header-menu a {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 38px 18px;
    display: block;
}

.main {
    display: flex;
    flex-direction: row;
    width: 1280px;
}

.aside-menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 52px;
}

.aside-menu a {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.aside-itm {
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: auto;
    text-align: left;
}

.aside-itm:hover {
    background-color: #DBDBDB;
    padding-left: 0;
    text-align: center;
}

.aside-itm a:hover {
    color: #000000;
}

.content {
    width: 885px;
    display: flex;
    flex-direction: column;
}

.logo-image {
    width: 100%;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-image img {
    width: 320px;
    height: 381px;
    transition: transform 0.30s;
}

.logo-image:hover img {
    transform: scale(1.2);
}

.text {
    margin-top: 34px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

footer {
    width: 1280px;
    display: flex;
    flex-direction: row;
    margin-top: 54px;
    background-color: #63696E;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0C1927;
    padding: 20px 40px;
    gap: 32px;
}

.footer-menu-itm {
    font-size: 28px;
    line-height: 28px;
}

.footer-text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    align-self: center;
    margin-left: 135px;
}

.footer-menu-itm a {
    color: #0C1927;
}

.footer-menu-itm a:hover {
    color: #3181A6;
    text-decoration: underline;
}